h1, h2, h3, h4, h5, h6, .navbar {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
 }

.navbar.navbar-inverse {
  border-radius: 0;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  
}

.navbar-inverse .navbar-brand {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 600px;
    width: 100%;
}

.frosty {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.input-group {
  text-align: center;
  vertical-align: middle;
  
}


