h1, h2, h3, h4, h5, h6, .navbar {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
    }
.navbar.navbar-inverse {
  border-radius: 0;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  
}

.navbar-inverse .navbar-brand {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: -0.5px;
}

.hero {
  background: url('hero.JPG') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:599px;
  position: relative;
}

.frosty {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

